scenarios/**/*.pyc
scenarios/*/results/Base/*.csv
scenarios/*/results/Base/*.txt
scenarios/*/results/Base/*.sca
scenarios/*/results/Base/*.vec
scenarios/*/results/Base/*.vci
scenarios/*/results/Base/*.log
scenarios/*/results/Base/*.png
scenarios/*/.tkenvrc
scenarios/personal-*/

src/artery/messages/*_m.cc
src/artery/messages/*_m.h
cmake-build*
.idea
scenarios/cars/core

build
debug
CMakeFiles
